span{
    background-color: #f5c542;
    color: black;
    text-align: center;
}
#name{
    text-align: center;
}
#main  {
    background-color: #f5c542;
    width: 200px;
    color: black;
    text-align: center;
    cursor: pointer;
}
pre{
    text-align: center;
}
img{
   float: right;
   width: 200px;

}


#edu{
    text-align: center;
    background-color: rgba(16, 74, 92, 0.219);
    color: rgb(6, 31, 100);
    
   
}
#information{
    background-color: black
}

a{
    color: white;
    text-decoration: none;
}
#obj{
    text-align: center;
    
}
body{
    background-color: black;
    color: white;
  justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

#ku{
text-decoration: underline;
}

#skill{
    padding: 10px;
}


form{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(240, 240, 240);
    max-width: 600px;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
    display: block;
    margin-top: 0cm;
    unicode-bidi: isolate;
}
@keyframes fadeIn{
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
#email{
   
    padding: 10px;
}
#number{
   
    padding: 10px;
}

#name{
    padding: 20px;
}

#education{
    padding: 50px;
}

#exp{
    padding: 50px;
}
img{
    border-radius: 25%;
}